/*********************************************************

rb-scrolly
----------------------------------------------------------

**********************************************************/
$scrollyJSCFG: (
	watchCSS: false,
	switchedOff: false,
	from: '-100eh',
	to: '100vh',
	once: false,
	restSwitchedOff: true,
	childSel: '.scrolly-element',
	childStyle: '',
);

.rb-scrolly {


	//@include exportToJS($scrollyJSCFG);

	position: relative;
	background: #999;
	height: 100px;

	&.is-simple-example {
		width: 10%;
		margin: auto;
		transition: all 600ms;

		&.is-in-scrollrange {
			width: 80%;
			transform: rotate(360deg);
			transition-delay: 500ms;
		}
	}

	&.is-in-scrollrange {
		background: #f00;
	}

	&.is-complex-scrolly {

		height: 250px;
		background: #333;

		.scrolly-1 {
			@if function-exists(rbToJSON) {
				@include exportToJS((
					opacity: 1,
					top: 0,
				));
			}

			position: relative;
			top: 100px;
			opacity: 0;
			color: #fff;
		}

		.scrolly-2 {
			position: absolute;
			bottom: 100px;
			right: 0;
			width: 100px;
			height: 100px;
			background: #f00;

			@if function-exists(rbToJSON) {
				@include exportToJS((
					right: 180,
					bottom: 0,
					backgroundColor: 'rgba(200, 230, 0, 0.4)',
					transform: (
						value: 'rotate(30deg)',
						start: 'rotate(0deg)',
					),
					from: 0.6,
					to: 0.9,
					easing: '(0.175, 0.885, 0.320, 1.275)',
				));
			}
		}
	}

}
